body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin: auto;
}

a {
  color: #919192 !important;
}

a:hover {
  color: #f39215 !important;
}


.form-group{
	margin-bottom: 0;
}

.axis path,
.axis line{
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}

text {
	font: 12px sans-serif;
	text-align: center;	
}

#first{
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 10px;
	margin-bottom: 5px;
}

#second{
	margin-top: 5px;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
}

#header{
	text-align: center;
	background: #2c7fb8;
	font: 18px sans-serif;
	height: 20px;
	font-color: #000000;
	margin: 10px;
	padding: 5px;
}

#graph{
	position: relative;
	padding: 0px;
	margin: 0px;
}

#inside{
	margin: 0px;
	position: relative;
	width: 100%;
	height: 100%;
}

#outside{
	margin: 0px;
}

#axisName{
	font-size: 20pt;
	text-anchor: end;
	glyph-orientation-vertical : 0;
}

.text{
	font-size: 20pt;
	color: black;
}